@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(150, 144, 141, 0.918);
}

header {
  display: flex;
  padding: 50px 10%;
  justify-content: space-between;
  align-items: center;
}
h2 {
  cursor: pointer;
  color: rgb(243, 68, 24);
  font-weight: 800;
  letter-spacing: 2px;
  background-color: black;
  padding: 10px 20px;
  border-radius: 30px;
}

li,
a,
button {
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

nav ul {
  margin-left: 350px;
  background-color: white;
  border-radius: 40px;
  padding: 25px 40px;
  list-style: none;
  box-shadow: 0.2rem 0.2rem 1rem grey:
}
nav li {
  display: inline-block;
  margin-right: 40px;
  background-color: azure;
 
}
nav a {
 background-color: rgba(167, 180, 180, 0.171);
 padding: 10px 15px;
 border-radius: 30px;
}
nav li a:hover {
  color: white;
  padding: 10px 15px;
  background-color: tomato;
  border-radius: 30px;
}
header button {
  padding: 15px 30px;
  background-color: tomato;
  border-radius: 30px;
  border: none;
  box-shadow: none;
}
header button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
  transition: 0.3s ease;
  transform: translateY(-4px);
}
button {
  padding: 8px 15px;
  background-color: tomato;
  border-radius: 25px;
  border: none;
  margin-right: 20px;
  font-weight: 600;
  box-shadow: 0.2rem 0.2rem 1rem rgb(10, 10, 10);
}
button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
  transition: 0.3s ease;
  transform: translateY(-2px);
}
/* form */
form{
  margin:30px 30px;
  line-height: 2;
  letter-spacing: 1px;
  font-weight: 700;
}
fieldset
{
  padding: 10px 5%;
    border: 2px solid black;
    border-radius:8px;
    border-radius:8px;	
    border-radius:8px;	
}
input{
  width: auto;
  padding: 8px 20px;
  margin: 8px 10px;
  border: 1.5px solid black;
  

}
::placeholder{
  color: rgba(240, 255, 255, 0.514);
  font-size: 18px;
  font-weight: 400;
}
